<!--
    作者：彭婷婷
    页面名称：内部专业线--专业线管理
    js路径：js/controllers/internalProfession/professionallinemanagement
-->
<div class="right">
    <div class="row seartable-padding">
        <div class="building_panner">
            <div class="col-lg-12 col-md-12 col-sm-6">
                <div class="row building_padding">
                    <div class="user_new_pannel">
                        <div class="user_new_pannel_title">
                            请选择专业线：
                        </div>
                        <div class="user_new_pannel_text">
                            <ul>
                                <li><form><input name="" type="checkbox" value=""  class="checkboxa" ng-model="specialtys.specialtyName1" ng-true-value="1" ng-false-value="0"> </form><span>人力资源</span> </li>
                                <li><form><input name="" type="checkbox" value=""  class="checkboxa" ng-model="specialtys.specialtyName2" ng-true-value="2" ng-false-value="0"/> </form><span>安保 </span></li>
                                <li><form><input name="" type="checkbox" value=""  class="checkboxa" ng-model="specialtys.specialtyName3" ng-true-value="3" ng-false-value="0"/> </form><span>公司战略与绩效</span></li>
                                <li><form><input name="" type="checkbox" value=""  class="checkboxa" ng-model="specialtys.specialtyName4" ng-true-value="4" ng-false-value="0"/> </form><span>清洁</span></li>
                                <li><form><input name="" type="checkbox" value=""  class="checkboxa" ng-model="specialtys.specialtyName5" ng-true-value="5" ng-false-value="0"/> </form><span>质检</span></li>
                                 <li><form><input name="" type="checkbox" value=""  class="checkboxa" ng-model="specialtys.specialtyName6" ng-true-value="6" ng-false-value="0"/> </form><span>维修</span></li>
                                <li><form><input name="" type="checkbox" value=""  class="checkboxa" ng-model="specialtys.specialtyName7" ng-true-value="7" ng-false-value="0"/> </form><span>财务</span></li>
                                <li><form><input name="" type="checkbox" value=""  class="checkboxa" ng-model="specialtys.specialtyName8" ng-true-value="8" ng-false-value="0"/> </form><span>园林</span></li>
                                <li><form><input name="" type="checkbox" value=""  class="checkboxa" ng-model="specialtys.specialtyName9" ng-true-value="9" ng-false-value="0"/> </form><span>售后</span></li>
                                <li><form><input name="" type="checkbox" value=""  class="checkboxa" ng-model="specialtys.specialtyName10" ng-true-value="10" ng-false-value="0"/> </form><span>消防</span></li>
                                <li><form><input name="" type="checkbox" value=""  class="checkboxa" ng-model="specialtys.specialtyName11" ng-true-value="11" ng-false-value="0"/> </form><span>产品</span></li>
                                <li><form><input name="" type="checkbox" value=""  class="checkboxa" ng-model="specialtys.specialtyName12" ng-true-value="12" ng-false-value="0"/> </form><span>客服</span></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="clear"></div>
        </div>
        <input type="button"  class="authorization_save" value="确认" ng-click="insert()">
    </div>
</div>
</div>
</div>